*checkpoint.ipynb
build*
dist*
hermite_functions-0.1*
hermite_functions.egg-info*
hermite_functions/__pycache__/
hermite_functions/.ipynb_checkpoints
.ipynb_checkpoints*
test_env_dir
tmp/
tmp*
**/__pycache__/
.pytest_cache/
